* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    animation-delay: inherit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body {
    background-color: #f0f0f0;
}

/* Navigation Bar */
nav {
    background-color: #919797;
    height: 5em;
}

#logo {
    height: 3em;
    padding-top: 1em;
    padding-left: 2em;
}
/* End Navigation Bar */

/* Home Page */
#newDivMain {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#channelImageMain {
    width: 100%;
}
/* End Home Page */

/* Productions Page */
#newDivProductions {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 25px;
}

#productionTitle {

}

#productionImage {
    width: 60%;
    height: 50%;
    margin: auto;
}

#categorieNameProduction {
    color: grey;
}

#programmeDateProduction {

}

/* End Productions Page */

/* Programme Page */
#allChannels {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#categorieName {

}

#programmeDuration {

}

#programmeDate {

}

#programeSynopsis {

}

#programmeAvailability {
    color: red;
}

#divEpisodeProgramme {

}

#noEpisodes {
    color: red;
}

#episodeImage {
    margin: auto;
    width: 10%;
    padding: 10px;
}

#episodeTitle {

}
/* End Programme Page */

/* Footer */
footer {
    background-color: #242424;
    display: block;
    height: 100px;
}

#pFooter {
    color: white;
    padding-top: 2em;
    padding-left: 2em;
}
/* End Footer */
