* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    animation-delay: inherit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body {
    background-color: #f0f0f0;
}

/* Navigation Bar */
nav {
    background-color: #919797;
    height: 5em;
}

#logo {
    height: 3em;
    padding-top: 1em;
    padding-left: 2em;
}

.dropbtn {
    background-color: transparent;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    margin-right: 5em;
    margin-top: 1.4em;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdownContent {
    display: none;
    position: absolute;
    right: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin-right: 4em;
}

.dropdownContent a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdownContent a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: transparent;
    border: 2px solid #f0f0f0;
}
/* End Navigation Bar */

/* Home Page */
#allChannels {
    margin: auto;
    width: 60%;
    padding: 10px;
}
/* End Home Page */

/* TV Guide Page */
#divContent {
    margin: auto;
    width: 70%;
    border: 3px solid green;
    padding: 10px;
}

#tvGuide {
    display: table;
}

#Title {
    display: table-caption;
    text-align: center;
    font-weight: bold;
    font-size: larger;
}

#channelLogos {
    display: table-row;
    font-weight: bold;
    text-align: center;
}

#Row {
    display: table-row;
}

#itvLogo, #itv2Logo, #itvBeLogo, #itv3Logo, #itv4Logo, #CTVLogo, #time, #Cell  {
    display: table-cell;
    border: solid;
    border-width: thin;
    padding-left: 5px;
    padding-right: 5px;
}

/* Footer */
footer {
    background-color: #242424;
    display: block;
    height: 100px;
}

#pFooter {
    color: white;
    padding-top: 2em;
    padding-left: 2em;
}
/* End Footer */
