* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    animation-delay: inherit;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
}

body {
    background-color: #f0f0f0;
}

/* Navigation Bar */
nav {
    background-color: #919797;
    height: 5em;
}

#logo {
    height: 3em;
    padding-top: 1em;
    padding-left: 2em;
}
/* End Navigation Bar */

/* Home Page */
#newDivMain {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
}

#channelImageMain {
    width: 100%;
}

/* End Home Page */

/* Productions Page */
#newDivProductions {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 25px;
}

#productionImage {
    width: 60%;
    height: 50%;
    margin: auto;
}

#categorieNameProduction {
    color: grey;
    font-style: italic;
}

/* End Productions Page */

/* Programme Page */
#moreEpisodes {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 25px;
    background-color: lightgrey;
    border-radius: 20px;
    margin-bottom: 20px;
}

#moreEpisodesImage {
    width: 20%;
    padding-top: 10px;
}

#moreEpisodesTitle {
    width: 70%;
    padding-top: 15px;
    text-decoration: none!important;
    font-size: smaller;
    padding-bottom: 10px;
}


#newDivCurrent {
    width: 640px;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    position: relative;
    padding-bottom: 25px;
}

#allChannels {
    margin: auto;
    width: 60%;
    padding: 10px;
}

#productionTitleProg {
    padding-top: 20px;
    padding-bottom: 5px;
}

#categorieName {
    color: grey;
    font-style: italic;
}

#programmeDuration {
    padding-top: 10px;
}

#programmeDate {
    padding-top: 5px;
}

#programeSynopsis {
    padding-top: 5px;
}

#programmeAvailability {
    font-style: red;
}

#noEpisodes {
    color: red;
}

#newDivProgramme {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 15px;
    margin-top: 15px;
    padding-left: 15px;
}

#newDivNoProgrammes {
    background-color: lightgray;
    height: 400px;
    width: 800px;
    border-radius: 20px;
    margin: 0 auto;
    margin-top: 35px;
    margin-bottom: 50px;
    padding: 10px;
    position: relative;
    padding-bottom: 25px;
    text-align: center;
}

/* End Programme Page */

/* Footer */
footer {
    background-color: #242424;
    display: block;
    height: 100px;
}

#pFooter {
    color: white;
    padding-top: 2em;
    padding-left: 2em;
}
/* End Footer */
